@use "./variables.scss" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: $bg;
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}